@import url("@radix-ui/colors/gray.css");
@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
	:root {
		--background: var(--gray-12);
		--foreground: 0 0% 3.9%;
		--card: 0 0% 100%;
		--card-foreground: 0 0% 3.9%;
		--popover: 0 0% 100%;
		--popover-foreground: 0 0% 3.9%;
		--primary: 0 0% 9%;
		--primary-foreground: 0 0% 98%;
		--secondary: 0 0% 96.1%;
		--secondary-foreground: 0 0% 9%;
		--muted: 0 0% 96.1%;
		--muted-foreground: 0 0% 45.1%;
		--accent: 0 0% 96.1%;
		--accent-foreground: 0 0% 9%;
		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 0 0% 98%;
		--border: 0 0% 89.8%;
		--input: 0 0% 89.8%;
		--ring: 0 0% 3.9%;
		--chart-1: 12 76% 61%;
		--chart-2: 173 58% 39%;
		--chart-3: 197 37% 24%;
		--chart-4: 43 74% 66%;
		--chart-5: 27 87% 67%;
		--radius: 0.5rem;
		--color-primary: transparent;
		--color-secondary: transparent;
		--color-background-light: transparent;
		--color-background-dark: transparent;
		--text-gray: #e1e1e1;
		--sidebar-background: 0 0% 98%;
		--sidebar-foreground: 240 5.3% 26.1%;
		--sidebar-primary: 240 5.9% 10%;
		--sidebar-primary-foreground: 0 0% 98%;
		--sidebar-accent: 240 4.8% 95.9%;
		--sidebar-accent-foreground: 240 5.9% 10%;
		--sidebar-border: 220 13% 91%;
		--sidebar-ring: 217.2 91.2% 59.8%;
	}
	.dark {
		--background: var(--gray-1);
		--foreground: 0 0% 85%;
		--card: 0 0% 3.9%;
		--card-foreground: 0 0% 85%;
		--popover: 0 0% 3.9%;
		--popover-foreground: 0 0% 85%;
		--primary: 0 0% 98%;
		--primary-foreground: 0 0% 9%;
		--secondary: 0 0% 14.9%;
		--secondary-foreground: 0 0% 98%;
		--muted: 0 0% 14.9%;
		--muted-foreground: 0 0% 63.9%;
		--accent: 0 0% 14.9%;
		--accent-foreground: 0 0% 98%;
		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 0% 98%;
		--border: 0 0% 14.9%;
		--input: 0 0% 14.9%;
		--ring: 0 0% 83.1%;
		--chart-1: 220 70% 50%;
		--chart-2: 160 60% 45%;
		--chart-3: 30 80% 55%;
		--chart-4: 280 65% 60%;
		--chart-5: 340 75% 55%;
		--sidebar-background: 240 5.9% 10%;
		--sidebar-foreground: 240 4.8% 95.9%;
		--sidebar-primary: 224.3 76.3% 48%;
		--sidebar-primary-foreground: 0 0% 100%;
		--sidebar-accent: 240 3.7% 15.9%;
		--sidebar-accent-foreground: 240 4.8% 95.9%;
		--sidebar-border: 240 3.7% 15.9%;
		--sidebar-ring: 217.2 91.2% 59.8%;
	}
}

@layer base {
	* {
		@apply border-border;
	}

	html {
		@apply scroll-smooth;
	}

	body {
		@apply bg-background text-foreground overscroll-none;
		/* font-feature-settings: "rlig" 1, "calt" 1; */
		font-synthesis-weight: none;
		text-rendering: optimizeLegibility;
		font-variant-ligatures: common-ligatures;
		text-wrap: pretty;
	}

	html {
		scrollbar-gutter: stable;
		scrollbar-width: thin;
		scroll-behavior: smooth;

		p,
		h1,
		h2,
		h3,
		h4,
		h5,
		h6,
		blockquote,
		figure,
		iframe,
		img,
		pre,
		table,
		select,
		dl,
		dd {
			margin-bottom: 24px;
		}
	}
	h1 {
		margin-left: -12px;
		border-left-width: 2px;
		border-color: #2563eb;
		padding-left: 12px;
		text-indent: -2px;
		font-weight: 700;
	}
	h2 {
		text-decoration-line: underline;
		text-decoration-thickness: 1px;
		text-underline-offset: 4px;
		text-decoration-color: #818181;
	}
	ol,
	ul,
	nav {
		display: block;
		unicode-bidi: isolate;
	}
	blockquote:not(:has(p)),
	blockquote p:only-child,
	blockquote:has(p + p) p:not(:last-child) {
		border-left-width: 2px;
		border-color: var(--muted);
		padding-left: 12px;
	}
}


/* Add a .preload class to prevent transitions during page load */
.preload * {
	transition: none !important;
}
.dot-fill {
	position: relative;
	border-style: none;
	width: 100%;
	height: 16px;
	line-height: 1rem;
	overflow: hidden;
}

.dot-fill:before {
	content: "...................................................................................................................";
	position: absolute;
	left: 0;
	right: 0;
	white-space: nowrap;
	overflow: hidden;
}




.dashed-box-x-t {
	background-size: 1px 100%, 100% 1px, 1px 100%, 0 0;
}

.dashed-box-x-b {
	background-size: 1px 100%, 0 0, 1px 100%, 100% 1px;
}

.dashed-box {
	background-image: repeating-linear-gradient(
			0deg,
			var(--text-gray),
			var(--text-gray) 12px,
			transparent 12px,
			transparent 16px
		),
		repeating-linear-gradient(
			90deg,
			var(--text-gray),
			var(--text-gray) 12px,
			transparent 12px,
			transparent 16px
		),
		repeating-linear-gradient(
			180deg,
			var(--text-gray),
			var(--text-gray) 12px,
			transparent 12px,
			transparent 16px
		),
		repeating-linear-gradient(
			270deg,
			var(--text-gray),
			var(--text-gray) 12px,
			transparent 12px,
			transparent 16px
		);
	background-position: 0 0, 0 0, 100% 0, 0 100%;
	background-repeat: no-repeat;
	background-size: 1px 100%, 100% 1px, 1px 100%, 100% 1px;
}

